.modal-details{
  display:flex;
  flex-direction: row;
}

.modal-details img{
  width: 300px;
  height: 443.99px;
}

.modal-details__info{
  margin-left: 50px;
  display:flex;
  flex-direction: column;
}

.modal-details__runtime{
  color: grey;
}

.modal-details__specific-info__container{
  margin-top: 10px;
}

.modal-details__specific-info{
  margin-top: -15px;
}

@media (max-width: 800px){
  .modal-details{
    display: flex;
    flex-direction: column;
  }
  
  .modal-details__info{
    margin: auto;
    margin-top: 30px;
  }
}