.movies-list {
  list-style: none;
  padding: 0;
}

@media (min-width: 800px) {
  .movies-list__grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
}

.movies-list__fallback {
  color: white;
  text-align: center;
}

@media (max-width: 800px){
  .movies-list__grid{
    justify-items: center;
  }
}
