@import '~antd/dist/antd.css';

.layout{
  background-image: linear-gradient(to bottom right, #4BC6CC, #19225f);
  height: 100%;
}

.header{
  z-index: 9;
  width: 100%;
  position: fixed;
  background-color: #19225f;
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 30px;
  margin-right: 200px;
  width: 300px;
  height: 100%;
  text-align: center;
  color: black;
  background-color: rgb(52, 209, 209);
}

.divider{
  position:fixed;
  margin-top: 63px;
  height: 10px;
  width: 100%;
  background-color: darkslategrey;
}

.description-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 15px;
}

.description-search__big{
  color: white;
  font-size: 40px;
}

.description-search__small{
  color: black;
}

.description-search__searchBar{
  display: flex;
  position: flex;
  margin-top: 15px;
  justify-content: center;
  max-width: 700px;
}