@import '~antd/dist/antd.css';

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.layout{
  /*background-image: linear-gradient(to bottom right, #4BC6CC, #19225f);*/
  opacity: 0;
  background-color: #011C33;
  height: 100%;
  animation: fadeIn 1.5s forwards;
}

.logo{
  cursor: pointer;
}

.header{
  z-index: 9;
  width: 100%;
  position: fixed;
  background-color: #99441A;
  display: flex;
  flex-direction: row;
}

.title {
  margin-left: 30px;
  margin-right: 200px;
  width: 300px;
  height: 100%;
  text-align: center;
  color: black;
  background-color: rgb(52, 209, 209);
}

.divider{
  z-index: 9;
  position:fixed;
  margin-top: 63px;
  height: 10px;
  width: 100%;
  background-color: #E1AD17;
}

.ant-btn-primary {
  background-color: #c44b3d;
  border: #c44b3d;
}

.ant-btn-primary:hover {
  background-color: #E1AD17;
  color: #99441A;
} 